{% extends "base.html" %}

{% block head_title %}
{{ object.title }}
{% endblock %}


{% block content %}

<div class="row">

{% include 'blog_posts/list-inline.html' with blog_post=object truncate=False detail=True %}

    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <div class="col-12">
                <a href="{{ object.get_edit_url }}">Edit this post.</a>
                <a href="{{ object.get_delete_url }}">Delete this post.</a>
            </div>
        {% endif %}
    {% endif %}

</div>

{% endblock %}

